<html>
	<head>
		<title>Assume Dinosaur</title>
		<script type="text/javascript" src="{{ url_for('static', filename='scripts/jquery-1.8.3.js') }}"></script>
	</head>
	<body style="margin: 0px; padding: 0px; scrolling: none;">
		<canvas id="canvas" width="500" height="500"></canvas>
		<audio loop id="overworld">
			<source src="{{ url_for('static', filename='resources/overworld.ogg') }}" type="audio/ogg">
			<source src="{{ url_for('static', filename='resources/overworld.mp3') }}" type="audio/mpeg">
			<source src="{{ url_for('static', filename='resources/overworld.wav') }}" type="audio/wav">
		</audio>
		<script type="text/javascript" src="{{ url_for('static', filename='scripts/objects.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='scripts/game.js') }}"></script>
		
	</body>
</html>
