{% extends 'index.html' %}
{% block container %}

	<div class="col-md-3 col-md-offset-4 mt25">
		<form role="form" method="post" action="/login" class="lrg-form col-md-12">
			<input type="text" class="form-control xli itr" name="username" id="username" placeholder="username">
            <input type="password" class="form-control xli ibr" name="password" id="password" placeholder="password">
                <br/>
            <button type="submit" class="btn btn-success col-md-12 font20">Login</button>
            <div class="font20 m10" style="text-align:center"> - or - </div>
            <button type="submit" class="btn btn-info col-md-12 font20">Signup</button>
        </form>
	</div>

{% endblock %}
